## Linux

# Temporary files
*~

## macOS

# Files created by macOS Finder
.DS_Store

## Marp and Pandoc

# Outputs
*.html
*.pdf

## Windows

# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini
