name: Release course material to GitHub Releases

on:
  push:
    tags:
      - "*"

# Sets permissions of the GITHUB_TOKEN to allow release to GitHub Releases
permissions:
  contents: write

jobs:
  build-and-release-course-material:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Delete files that should not be released
        run: |
          rm --recursive 00-evaluation-and-exam-archives
          # rm --recursive 01-*
          # rm --recursive 02-*
          # rm --recursive 03-*
          # rm --recursive 04-*
          # rm --recursive 05-*
          # rm --recursive 06-*
          # rm --recursive 07-*
          # rm --recursive 08-*
          # rm --recursive 09-*
          # rm --recursive 10-*
          # rm --recursive 11-*
          # rm --recursive 12-*
          # rm --recursive 13-*
          # rm --recursive 14-*
          # rm --recursive 15-*
          # rm --recursive 16-*
          # rm --recursive 17-*
          # rm --recursive 18-*
          # rm --recursive 19-*
          # rm --recursive 20-*
          # rm --recursive 21-*
          # rm --recursive 22-*
          # rm --recursive 23-*
          # rm --recursive 24-*
          # rm --recursive 25-*
          # rm --recursive 26-*
          rm --recursive 99-resources-for-the-teaching-staff

      - name: Build course material content with Pandoc and weasyprint
        uses: docker://alpine:edge
        with:
          entrypoint: sh
          args: .github/workflows/build-course-material-content.sh

      - name: Build presentation content with Marp
        uses: docker://marpteam/marp-cli:v3.0.2
        with:
          entrypoint: sh
          args: .github/workflows/build-presentation-content.sh

      - name: Release course material to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          body: |
            This release contains the course material for the DAI course at [HEIG-VD](https://heig-vd.ch), Switzerland.
          files: |
            **/*.pdf
